DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/uniconnect_db"
JWT_SECRET="минимум-32-символа-случайная-строка"
JWT_EXPIRES_IN="7d"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_ALLOWED_EMAIL_DOMAINS="kazguu.kz,mnu.kz"
ALLOWED_EMAIL_DOMAINS="kazguu.kz,mnu.kz"